# Ignore binaries and temp files
*.py[cod]
__pycache__

# Ignore all files starting with . (e.g., .*project) but not .gitignore and .travis.yml
.*
!.gitignore
!.travis.yml

# Ignore build files
dist
build
fnss.egg-info
MANIFEST
doc/build
doc/source/apidoc/generated
doc/source/examples
