include LICENSE*
include README*

# Code for including tests (excluded resources folder)
recursive-include test test*

# Include all examples
recursive-include examples *.py

# Redundant code but specify just in case of changes to default Distutils behaviour
global-exclude *~
global-exclude *.py[cod]
global-exclude __pycache__
global-exclude .svn
global-exclude .git*
global-exclude .*project

# Exclude this file to avoid unnecessary warnings when installing with pip or easy_install
exclude MANIFEST.in

# Exclude Travis CI config
exclude .travis.yml
